.header{
    height: 100px;
    background-color: #e67e22;
    
}

.section{
    min-height: calc(100vh - 300px);
    background-color: #ecf0f1;
    max-width: 980px;
    margin: auto;
/*    margin:;*/
/*    마진 색상*/
}

.section iframe{
    margin-top: 50px;
/*
    border: 1px solid black;
    box-sizing: border-box;
    넣으면 값 수정해야 함
*/
}

.section iframe.harin{
    /*    height: auto;
    고정값을 줘야함*/
    width: 100%;
    height: 500px;
}
.section iframe.sanghyeok{
    /*    height: auto;
    고정값을 줘야함*/
    width: 100%;
    height: 500px;
}
.section iframe.daehwan{
    /*    height: auto;
    고정값을 줘야함*/
    width: 100%;
    height: 500px;
}
.section iframe.sumin{
    /*    height: auto;
    고정값을 줘야함*/
    width: 100%;
    height: 500px;
}




.footer{
    height: 200px;
    background-color: #34495e;
}