html, body {margin: 0; padding: 0;}
        .menubar_sm {
            height: 44px;
            width: 100%;
            background-color: #b7e9ff;
            z-index: 1;
            position: fixed;
            
        
        }
        
  
        .logo_sm {
            padding-top: 10px;
            padding-right: 15px;
            font-size: 20px;
            float: right;
            font-family: "Indie Flower";
            
        } 
        .user_sm {
            width: 300px; 
            background-color: palegoldenrod;
            height: 100vh;
            position: fixed;
        }
        
        .welcome_sm {
            background-color:beige;
            height: 150px;
            
        }
        
        .hidden_sm {
                height: 40px;
                text-align: center;
                padding-top: 20px;
            }
            
            .attraction_sm {
                height: 40px;
                text-align: center;
                padding-top: 20px;
            }
            .bestatt_sm {
                height: 40px;
                text-align: center;
                padding-top: 20px;
            }
            .review_sm {
                height: 40px;
                text-align: center;
                padding-top: 20px;
            }
            
            nav a:link, nav a:visited {
                color: #446900;
            }
            a {
                text-decoration: none;
            }
            div [class="hidden_sm"]:hover,
            div [class="attraction_sm"]:hover,
            div [class="bestatt_sm"]:hover,
            div [class="review_sm"]:hover{
                background-color: white;
            }
            
            /*#menu input[type="checkbox"]:checked~nav div{
                {
                    display: inline;
                }
            }*/
            
            .textmenu_sm {
                display: none;
                
                
            }
            .hidden_sm{
                display: none;
            }
            nav input[type="checkbox"] {
                display: none;
            }
        
        @media screen and (max-width: 990px) {
            .user_sm {
                display: none
            }
            
            .textmenu_sm {
                height: 44px;
                margin-left: 20px;
                margin-top: 10px;
                position: fixed;
                z-index: 2;
                display:inline-block!important;
            }
            
            #nav input[type="checkbox"]:checked~.user_sm {
                display:block!important;
            }
            .hidden_sm {
                display: block!important;
            }
            
            
        }