<section id="contents">
  <div class="body">
    <form action="/login" method="post">
      <div class="input-body">
        <label for="id">ID</label>
        <input type="text" name="id" id="id" placeholder="회원번호를 입력하세요.">
      </div>
      <div class="input-body">
        <label for="pw">PW</label>
        <input type="text" name="pw" id="pw" placeholder="비밀번호를 입력하세요.">
      </div>
      <div class="input-body">
        <input type="submit" value="Login">
      </div>
    </form>
    <div class="btn-body">
      <button type="button" class="right" data-ng-click="fn_btn('#')">ID/PW찾기</button>
      <button type="button" class="left" data-ng-click="fn_btn('#')">타사기업가입</button>
    </div>
  </div>
</section>
